.login {
    background-color: #24319f;
    z-index: 10;

    h1 {
        font-size: 5rem;
        text-shadow: 0.25rem 0.25rem 0 #3850af;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        @media (min-width: 30rem) {
            margin-left: 10rem;
        }

        &.loginMsg {
            font-size: 4.5rem;

            @media (min-width: 30rem) {
                margin-left: 3.1rem;
            }
        }
    }

    h3 {
        font-size: 1.5rem;
    }

    main {
        background-color: #627dd5;
        position: relative;
        background-image: radial-gradient(circle at 12% 12%, #9ab2ea, transparent 35%);
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 30rem) {
            flex-direction: row;
        }

        &:before {
            content: "";
            height: 0.2rem;
            background-image: linear-gradient(to right, transparent, #bbcdf5 40%, transparent);
            position: absolute;
            inset: 0 0 0 0;
        }

        &:after {
            content: "";
            height: 0.2rem;
            background-image: linear-gradient(to right, transparent, #ea9b4c 20%, transparent);
            position: absolute;
            bottom: -0.2rem;
            left: 0;
            right: 0;
        }

        .details {
            align-items: center;

            @media(min-width: 30rem) {
                align-items: end;
            }

            h3 {
                @media (min-width: 30rem) {
                    padding-right: 2.6rem;
                }
            }
        }

        .seperator {
            width: 100%;
            height: 0.2rem;
            background-image: linear-gradient(to right, transparent 15%, #89a1e3, transparent 85%);

            @media (min-width: 30rem) {
                width: 0.2rem;
                height: 100%;
                background-image: linear-gradient(to bottom, transparent 15%, #89a1e3, transparent 85%);
            }
        }

        .transition {
            @media (min-width: 30rem) {
                margin-left: 20%
            }

            img {
                @media (min-width: 30rem) {
                    margin-left: 2rem;
                }
            }

            h3 {
                text-align: center;
                left: 50%;
                transform: translateX(-50%);

                @media (min-width: 30rem) {
                    text-align: left;
                    left: unset;
                    transform: none;
                }
            }
        }
    }

    .userContainer {
        height: fit-content;
        max-width: 40vw;
        border: 0.1rem solid transparent;
        border-right: none;
        position: relative;
        flex-direction: column;
        align-items: center;

        @media (min-width: 30rem) {
            flex-direction: row;
            align-items: start;
            width: 25rem;
        }

        &:not([data-init-state="loggingIn"]):before {
            content: "";
            transition: all 0.2s linear;
            inset: 0;
            z-index: 0;
            border-radius: 0.75rem;
            border: 0.1rem solid transparent;
            position: absolute;

            @media (min-width: 30rem) {
                mask-image: linear-gradient(to right, #000, transparent);
            }
        }

        p {
            font-size: 0.9rem;
            z-index: 1;

            &:not([data-init-state="loggingIn"]) {
                opacity: 0.6;
            }
        }

        h3 {
            position: relative;
            z-index: 1;

            &:not([data-init-state="loggingIn"]) {
                opacity: 0.6;
            }
        }

        .avatar {
            border-radius: .3rem;
            border: .2rem solid #ced6e9;
            box-shadow: .1rem .1rem .3rem #16316b;
            transition: all 0.2s linear;
            position: relative;
            z-index: 1;

            &:not([data-init-state="loggingIn"]) {
                opacity: 0.6;
                transition: none;
            }
        }

        .userNameContainer {
            text-align: center;
            align-items: center;

            @media (min-width: 30rem) {
                text-align: left;
                align-items: start;
            }
        }

        &:hover {
            &:before {
                background: #2041a0;
                border-color: #8095d4;
            }

            .avatar {
                opacity: 1;

                &:not([data-init-state="loggingIn"]) {
                    border-color: #fae14b;
                }
            }

            h3,
            p {
                opacity: 1;
            }
        }
    }

    .footer {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 90rem;

        @media(min-width: 30rem) {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
        }

        .shutDown:hover {
            h3 {
                text-decoration: underline;
            }
        }
    }
}

.consoleMsg {
    color: #333;
    font-weight: 600;
    overflow: hidden;
    border-right: .15em solid #888;
    white-space: nowrap;
    margin: 0 auto;
    line-height: 1.2rem;
    letter-spacing: .15rem;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@keyframes blink-caret {

    0%,
    100% {
        border-color: transparent
    }

    50% {
        border-color: #888;
    }
}