.startMenu {
    width: 36rem;
    max-width: 100%;
    border-radius: 0.75rem 0.75rem 0 0;
    box-shadow: 2px 2px 5px #0006;

    img {
        flex-shrink: 0;
    }

    header {
        border-radius: 0.75rem 0.75rem 0 0;
        background: linear-gradient(180deg, #2d60c5 0%, #71b4ff 2%, #2d60c5 8%, #578de3 100%);
        box-shadow: inset -1px 1px 2px #3c65ca, inset 1px 1px 2px #3c65ca;
        border: 0.1rem solid #3c65ca;
        border-top-color: #2e50a3;
        border-radius: 0.75rem 0.75rem 0 0;

        img {
            border-radius: 0.3rem;
            border: 0.2rem solid #ced6e9;
            margin-top: 0.2rem;
            box-shadow: 0.1rem 0.1rem 0.3rem #16316b;
        }

        h1 {
            font-size: 1.5rem;
            text-shadow: 0.1rem 0.1rem 0.2rem #16316b;
        }
    }

    main {
        position: relative;

        &:after {
            content: "";
            width: 100%;
            height: 0.2rem;
            border-top: 0.2rem solid;
            border-image: linear-gradient(to right, transparent, #f09440, transparent) 1;
            position: absolute;
            top: 0;
        }
    }

    section {
        line-height: 1.2rem;

        li:hover {
            background: #4069bf;
            color: #fff;
            cursor: pointer;
        }

        &:first-of-type {
            border-left: 0.2rem solid #3c65ca;
        }

        &:last-of-type {
            border-left: 0.1rem solid #abc6ed;
            border-right: 0.2rem solid #3c65ca;
        }

        &>div>*:not(:last-child) {
            border-bottom: 0.1rem solid;
            border-image: linear-gradient(to right, transparent, #deded7, transparent) 1;
        }

        &>div>div {
            border-top: 0.1rem solid;
            border-image: linear-gradient(to right, transparent, #deded7, transparent) 1;
        }

        &>ul:not(:last-child) {
            border-bottom: 0.1rem solid;
            border-image: linear-gradient(to right, transparent, #9fc1f9, transparent) 1;
        }
    }

    footer {
        background: linear-gradient(180deg, #4980d9 1%, #306fcc 100%);
        border-top: 0.15rem solid #416cd6;
        box-shadow: inset 0.2rem 0 0.8rem #3960c3, inset -0.2rem 0 0.8rem #3960c3;

        li:hover {
            background: #4069bf;
            color: #fff;
            cursor: pointer;
        }
    }
}