.taskBar {
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #3168D5;
    background: linear-gradient(180deg, rgb(49, 104, 213) 0%, rgb(82, 163, 255) 7%, rgb(43, 112, 221) 18%, rgb(47, 120, 231) 93%, rgb(27, 82, 167) 100%);
    z-index: 2;
}

.startButton {
    position: relative;
    height: 100%;
    width: 10rem;
    border: none;
    border-radius: 0;
    background: #388537;
    background: linear-gradient(180deg, rgb(62, 142, 66) 0%, rgb(113, 185, 118) 9%, rgb(63, 153, 67) 25%, rgb(69, 169, 69) 50%, rgb(69, 169, 69) 80%, rgb(40, 125, 60) 100%);
    background-image: url("/startButton__spriteSheet.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    flex-shrink: 0;

    &:hover {
        background-position-y: -3rem;
    }

    &:active,
    &[data-selected="true"] {
        background-position-y: -6rem;
        outline: none;
        border: none;
    }
}

.systemTray {
    background: #095BC9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(22, 174, 240, 1) 3%, rgba(22, 174, 240, 1) 9%, rgba(13, 141, 234, 1) 16%, rgba(13, 141, 234, 1) 92%, rgba(22, 138, 222, 1) 97%, rgba(9, 91, 201, 1) 100%);
    border-left: 1px solid #0a2e52;
    box-shadow: inset 1px 0px 1px #22c4f4;
    font-family: monospace;
    font-size: 0.9rem;
    padding-top: 0.2rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    gap: 0.5rem;
}

.windows {
    padding: 0.3rem 0.7rem 0.2rem;
    gap: 0.4rem;
    font-size: 1rem;

    li {
        display: flex;
        align-items: center;
        background: #3780f3;
        border: 1px solid #1a51c688;
        height: 100%;
        padding: 0.2rem 1rem;
        border-radius: 0.3rem;
        box-shadow: 1px 1px 1px #0004, inset 1px 1px 1px #fff3;
        flex-shrink: 1;
        word-wrap: none;
        width: 100%;
        max-width: 13rem;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            background: #689ef8;
        }

        &[data-active=true] {
            background: #2a4fb2;
            box-shadow: 1px 1px 1px #fff3, inset 1px 1px 1px #0004;

            &:hover {
                background: #426de1;
            }
        }

        &>span {
            mask-image: linear-gradient(to right,
                    black 0%,
                    black 80%,
                    transparent 100%);

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                width: -webkit-fill-available;
                width: -moz-available;
                text-align: left;
            }
        }
    }
}