.windowMenu {
    background: #f1f0eb;
    border-bottom: 0.1rem solid #dedaca;
    color: #000;
    min-height: 2.3rem;

    img {
        border-left: 0.1rem solid #dedaca;
        object-fit: cover;
    }

    ul {
        position: absolute;
        left: -0.15rem;
        top: -0.15rem;

        li {
            &:hover {
                color: #fff;
                background-color: #4069bf;
                cursor: not-allowed;
            }

            button {
                cursor: not-allowed;
            }
        }
    }
}