.window {
    background: #162abe;
    padding: 0.35rem;
    border-radius: 0.9rem 0.9rem 0.1rem 0.1rem;
    overflow: hidden;

    .windowHeader {
        background: #2D60E4;
        background: linear-gradient(180deg, #2e61e4 0%, rgb(82, 146, 247) 6%, rgb(37, 90, 225) 25%, rgb(47, 107, 246) 80%, rgb(17, 51, 160) 100%);
        margin: -0.3rem -0.1rem -0.1rem;
        border-radius: 0.8rem 0.8rem 0 0;
        box-shadow: inset 1px 0px 3px #162abe, inset -1px 0px 3px #162ab0;
        text-shadow: 0.1rem 0.1rem 0.1rem #162abe;
        font-family: Trebuchet MS;
        font-weight: 600;
        font-size: 1.1rem;
        padding-right: 0.3rem;
        height: 2.9rem;

        button {
            position: relative;
            text-indent: -9999px;
            background: none;
            border: 0.1rem solid #fff;
            border-radius: 0.3rem;
            width: 1.9rem;
            height: 1.9rem;
            padding: 0;
            margin: 0.5rem 0.1rem 0.4rem;
            box-shadow: inset 0 0 0 1px #2346b944, inset 2px 2px 3px #73a4ff, inset -2px -2px 1px #2348ba;
            background-color: #4678e6;
            background: radial-gradient(circle at 85% 85%, #2560e4 50%, #4678e6 70%, #73a4ff 100%);

            &:after {
                content: "";
                background: url("/spritesheet__window_ui.png");
                background-size: 5.2rem 1.7rem;
                position: absolute;
                inset:0;
            }

            &[data-button="minimize"]:after {
                background-position-x: 0;
            }

            &[data-button="maximize"]:after {
                background-position-x: -1.8rem;
            }

            &[data-button="close"] {
                box-shadow: inset 0 0 0 1px #ae452744, inset 2px 2px 5px #e4a491, inset -2px -2px 1px #ae4527;
                background-color: #d45b34;
                background: url("/spritesheet__window_ui.png"), radial-gradient(circle at 85% 85%, #cd512e 50%, #d45b34 70%, #e4a491 100%);

                &:after {
                    background: url("/spritesheet__window_ui.png");
                    background-position-x: -3.55rem;
                    background-size: 5.2rem 1.7rem;
                }
            }
        }
    }

    .windowContent {
        box-shadow: 0rem 0.05rem 0rem 0.1rem #2b5be0;
    }
}