.shutDownModal {
    width: 30rem;
    max-width: 90%;
    height: 18rem;
    background: #123293;
    border: 0.1rem solid #191f36;

    main {
        background-color: #617cd7;
        background-image: radial-gradient(circle at top center, #98b0ee, transparent 70%);
        position: relative;
        font-size: 0.85rem;

        button:not([disabled]) {
            img {
                transition: all 0.1s linear;
                filter: brightness(0.9);

                &:hover {
                    filter: brightness(1);
                }
            }
        }

        [disabled] {
            filter: grayscale(1);
            opacity: 0.3;
        }

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.2rem;
            background-image: linear-gradient(to right, transparent, #dbe5f8, transparent);
        }
    }
}

.container {
    animation: desaturate 1s ease-in forwards;
}

@keyframes desaturate {
    0% {
        backdrop-filter: grayscale(0);
    }

    100% {
        backdrop-filter: grayscale(1);
    }
}