.btn {
    border: 0.1rem solid #496a90;
    font-size: 0.9rem;
    width: 5.5rem;
    height: 1.8rem;
    line-height: 1.6rem;
    border-radius: 0.3rem;
    background-image: linear-gradient(to top, #d8d4ca, #fff);
    text-align: center;
    color: #000;

    &:hover {
        box-shadow: inset 0 0 0 1px #d89c3388;
    }

    &:active {
        box-shadow: inset 0px 15px 0 0px #0001;
    }

    &[disabled] {
        box-shadow: none;
        color: #b6b6a9;
        border-color: #d2d0c2;
        cursor: not-allowed;
        background: none;
    }
}