.tooltip {
    background: #ffffe4;
    color: #000;
    border: 1px solid currentColor;
    border-radius: 0.8rem;
    bottom: 2.6rem;
    right: -1rem;
    width: 25rem;
    padding: 0.5rem 0.75rem;
    max-width: 70vw;
    line-height: 1rem;
    font-size: 0.8rem;
    opacity: 1;
    transition: 0.3s opacity ease-in-out;

    &:before {
        content: "";
        position: absolute;
        border-right: 20px solid #000;
        border-bottom: 20px solid transparent;
        right: 2rem;
        bottom: -2rem;
    }

    &:after {
        content: "";
        position: absolute;
        border-right: 18px solid #ffffe4;
        border-bottom: 18px solid transparent;
        right: 2.08rem;
        bottom: -1.78rem;
    }

    h4 {
        font-weight: 600;
    }

    &[data-dismissed="true"] {
        opacity: 0;
        pointer-events: none;
    }

    .tooltipClose {
        background: #fffff6;
        color: #a89d89;
        border: 1px solid #cdc6b0;
        position: absolute;
        top: 0.4rem;
        right: 0.4rem;
        border-radius: 0.2rem;
        padding: 0;

        &>span {
            transform: rotate(45deg);
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            font-size: 2rem;
            line-height: 1.2rem;
        }
    }
}