.appMenu {
    background: #f1f0eb;
    border-bottom: 0.1rem solid #dedaca;
    color: #000;
    position:absolute;
    left:0;
    right: 0;

    [data-label="views"] {
        img {
            margin-right: 0.1rem;
        }

        &:hover {
            span {
                border-color: transparent;
            }
        }
    }

    &:not(:first-child) {
        border-top: 0.1rem solid #fff;
    }

    div:not(:last-child) {
        border-right: 1px solid #dedaca;
    }

    button {
        border: 0.1rem solid transparent;
        flex-shrink: 0;

        &>img {
            margin: 0.5rem;
        }

        &>span {
            padding: 0.5rem 0;
            border-left: 0.1rem solid transparent;
        }

        h4 {
            padding-right: 0.5rem;
        }

        &:hover {
            border: 0.1rem solid #d4d4cb;
            border-radius: 0.3rem;
            box-shadow: inset 0 0.1rem 0.1rem #fefefd, inset 0 -0.1rem 0.1rem #d4d4cb;

            &>span {
                border-left: 0.1rem solid #dedaca;
            }
        }
    }

    .dropdown {
        height: 100%;
        font-size: 1rem;
        transform: scaleY(0.6) translateY(0.1rem);
        display: block;
    }
}